@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    font-family: 'Roboto Slab', serif;
}

body {
    display: block;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    font-size: 40px;
    font-weight: 400;
    color: white;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 20px;
}

.searchBox .seachBar .cityContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}



